@charset "UTF-8";
/*! ********************************************************************
   _____            __                                    
  / __(_)_ _  ___  / /__                                  
 _\ \/ /  ' \/ _ \/ / -_)                                 
/___/_/_/_/_/ .__/_/\__/          ________                
  / __/ /__/_/_____/ /____ ____  /_  __/ /  ___ __ _  ___ 
 _\ \/ __/ _ `/ __/ __/ -_) __/   / / / _ \/ -_)  ' \/ -_)
/___/\__/\_,_/_/  \__/\__/_/     /_/ /_//_/\__/_/_/_/\__/ 
                                                                        
By Craig Fox @ craigwfox.com
https://github.com/craigwfox/Simple-Starter-Theme.git
********************************************************************* */
@mixin clearfix{
  &:before, &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
  zoom:1;
}


.ssta-wrap {
  @include clearfix();
}
  .ssta-section {
    @include clearfix();
  }

    .ssta-title {
      position: relative;

      cursor: pointer;

      * {
        display: inline-block;
        vertical-align: bottom;

        &:first-child {
          border-bottom: 1px solid #999;
        }
      }

      &:after {
        content: "";

        display: inline-block;
        vertical-align: baseline;

        margin-left: .5em;

        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 10px solid #333;

        transition:transform .2s;
      }
    }
    .ssta-title--active {
      &:after {
        transform:rotate(90deg);
      }
    }

    .ssta-content {
      padding: 0 0 .375em;

      @include clearfix();
    }

    .ssta-active {
    }
    .ssta-hide {
    }